/* body */
html, body {
background: #CCC;
/*Max Miedinger and Eduard Hoffmann called. They wanted their TYPEFACE back! so I gave it to them.*/
font-family: Arial, sans-serif;
margin: 0;
}

/* to make images less blurred. i hate blurred images. pixelation ftw!!! */
img {
image-rendering: pixelated;
}

div {
display: block;
}
.enter_home {
text-align: center;
}
.header {
text-align: center;
}

a, a:link {
outline: none;
}
a img {
outline: none;
}
img {
outline: none;
}
