.artscroll {
    overflow: scroll;
    width: calc(100%-40px);
    padding: 10px;
    height: 256px;
    background-color: #123456;
    color: #abcdef;
    border-color: #112233;
    border-radius: 20px;
    border-style: solid;
    border-width: 10px;
    scrollbar-color: #abcdef #123456;
    scrollbar-width: thin;
}
.artscroll {
--sb-track-color: #123456;
--sb-thumb-color: #abcdef;
--sb-size: 8px;
}
.artscroll::-webkit-scrollbar {
width: var(--sb-size);
}
.artscroll::-webkit-scrollbar-track {
background: var(--sb-track-color);
border-radius: 3px;
}
.artscroll::-webkit-scrollbar-thumb {
background: var(--sb-thumb-color);
border-radius: 3px;
}
@supports not selector(::-webkit-scrollbar) {
.artscroll {
    scrollbar-color: var(--sb-thumb-color)
                    var(--sb-track-color);
}
}

.pickenchoose {
    display: block;
    width: 247px;
    height: 240px;
    background-image: url("../grafx/sitegrafx/clipart/pickenchoose.png");
    background-size: 100%;
    position: relative;
    top: 33px;
    left: 16px;
}
.thumb {
    width: 64px;
    height: 64px;
}