.copybox, .navlinks {
    width: 157px;
    height: 157px;
	padding: 10px;
}
.copybox {
    background-image: url("../grafx/sitegrafx/rootindex/copy.gif");
}
.navlinks {
    background-image: url("../grafx/sitegrafx/rootindex/navlinks.gif");
    width: 157px;
    height: 157px;
    font-size: small;
}
a:visited, a:link {
    color: #840303;
    font-weight: bold;
}
a:hover {
    color: #ec8383;
}
a:active {
    color:#110000
}
.copyright {
    font-size: 12px;
    padding: 5px;
    color: #110000;
    position: relative;
    bottom: 0;
    right: 0;
}